@import "tailwindcss";

/* about jsx  */

.btn1 {
  border-radius: 40px;
  background-color: blue;
  color: white;
}

.btn1:hover {
  border: 2px solid blue;
  color: black;
  background-color: transparent;
}

.btn2 {
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
}

.btn2:hover {
  background-color: blue;
  color: white;
  border: 2px solid blue;
}

.navbar:hover {
  color: blue;
}

.myimg {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  border-bottom: 2px solid blue;
  width: 40%;
  padding-top: 30px;
}

.icons {
  font-size: 23px;
}


/* resume jsx  */
.container-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
  .container-small {
    max-width: 600px;
  }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
  .container-small {
    max-width: 600px;
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
  .container-small {
    max-width: 600px;
  }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  .container-small {
    max-width: 700px;
  }
}

/* project  */
.title{
  margin-top:-53px;
}
.title-1{
  margin-top:-22px;
}

/* contact  */

.inp {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.inp:hover {
  border-bottom: 2px solid blue;
}

.inp1 {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  margin-left: 80px;
}

.inp1:hover {
  border-bottom: 2px solid blue;
}

